body {
    text-align: center;
    font-family: 'Concert One', cursive;
    color: #4c419a;
    background-color: #e26b10;
}

.game-title {
    margin: 30px 0 0 0;
    font-size: 50px;
    text-transform: uppercase;
}

.instructions {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: white;
}

.logo {
    padding-top: 15px;
    height: 30px;
    display: block;
    margin: 0 auto;
}