body {
    text-align: center;
    font-family: 'Concert One', cursive;
    color: #4c419a;
    background-color: #e26b10;
}

.game-title {
    margin: 30px 0 0 0;
    font-size: 50px;
    text-transform: uppercase;
}

.instructions {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: white;
}

.logo {
    padding-top: 15px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.modal-content p {
    font-size: 24px;
    margin-top: 0;
}

button#myBtn {
    background-color: #e26b10;
    color: white;
    border: none;
    padding: 7px;
}